desktop.ini

1.Literature/1.Papers/drtoolbox
2.Development/1.Code/datasets/animalface
2.Development/1.Code/datasets/carnivores
2.Development/1.Code/datasets/cifar10
2.Development/1.Code/datasets/flowers
2.Development/1.Code/datasets/flowers-cropped
2.Development/1.Code/datasets/hiva.data
2.Development/1.Code/datasets/imagenet_lt_test
2.Development/1.Code/datasets/inat_lt_train

images

.venv
.testvenv

cache
*/out/

*/99.Secrets

